/* Write your code here. */
.container {
  margin: 15px;
  padding: 1rem;
  background-color: #f1f5f8;
  font-family: 'roboto';
}
.main-container {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 5px #52606d;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  color: #cb8805;
  margin-bottom: 15px;
}
ul {
  width: 75%;
  list-style: none;
  margin-bottom: 15px;
}

@media screen and (max-width: 400px) {
  .main-container {
    align-items: flex-start;
  }
  ul {
    width: 200px;
  }
}
